@model UserSiginVievModel
@{
    ViewData["Title"] = "LoginAut";
}

<h1 style="text-align:center">AutoShop.Web</h1>
<h2 style="text-align:center">Login to the account</h2>
<form asp-controller="User" asp-action="LoginAut" method="post" class="modal-body animate">
    <input hidden asp-for="ReturnUrl" />

    <div>
        <label asp-for="Login"><b>Username</b></label>
        <input asp-for="Login" type="text" placeholder="Enter Login"  autocomplete="off">
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"><b>Password</b></label>
        <input asp-for="Password" type="password" placeholder="Enter Password"  autocomplete="off">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Login</button>
    <hr />
    <div class="form-group" style="vertical-align:text-bottom">No account?<a asp-area="" asp-controller="User" asp-action="Create">Create it!</a></div>


    <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>