@model HomeIndexViewModel

<h1>Список авто</h1>
@await Html.PartialAsync("_Search", Model.Search)

<a asp-action="Create" class="btn btn-success">Додати авто</a>
<a asp-action="EditAvto" class="btn btn-info">Редагувати</a>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Delete" class="btn btn-danger">Видалити авто</a>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">Марка</th>
            <th scope="col">Модель</th>
            <th scope="col">Рік</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
        <tr>
            <th scope="row" style="font-size:23px; height: 100px; vertical-align: middle">@item.Id</th>
            <td>
                <img src="/images/@item.PathImage" alt="No Image" height="100" />
            </td>
            <td style="font-size: 23px; vertical-align: middle">@item.Mark</td>
            <td style="font-size: 23px; vertical-align: middle">@item.Model</td>
            <td style="font-size: 23px; vertical-align: middle">@item.Year</td>
        </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", Model)
